body{
    background-color: pink;
}

h1{
    color: black;
    text-align: center;
}

p{
    height: 20px;
    width: 20%;
    background-color: antiquewhite;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

img{
    height: 30%;
    width: 80%;
    position: relative;
    border-radius: 20px;
}
a{
    height: 40px;
    width: 20%;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: plum;
    color: white;
}